In [34]:
# CReo el repositorio y lo clono en mi pc
#corro este script
# meto el zip con los datos en stores

In [35]:
import os
import pandas as pd
import zipfile

In [36]:
# Seteo la ruta del repositorio (reemplazarla por la propia)
ruta = r"C:\Users\Sofia\OneDrive\Escritorio\ML\PS2"

In [37]:
# Fijo rutas para cada carpeta del repositorio
document_path = os.path.join(ruta, "document")
scripts_path = os.path.join(ruta, "scripts")
stores_path = os.path.join(ruta, "stores")
views_path = os.path.join(ruta, "views")

In [38]:
# Creo las carpetas por única vez
os.makedirs(document_path, exist_ok=True)
os.makedirs(scripts_path, exist_ok=True)
os.makedirs(stores_path, exist_ok=True)
os.makedirs(views_path, exist_ok=True)

In [39]:
zip_path = os.path.join(stores_path, "mlunlp-2024-ps-2.zip")

In [40]:
train_hogares_path = "train_hogares.csv"
train_personas_path = "train_personas.csv"

In [41]:
with zipfile.ZipFile(zip_path, 'r') as z:
    with z.open(train_hogares_path) as f:
        train_hogares = pd.read_csv(f)

with zipfile.ZipFile(zip_path, 'r') as z:
    with z.open(train_personas_path) as f:
        train_personas = pd.read_csv(f)

In [42]:
train_hogares.head(5)

,id,Clase,Dominio,P5000,P5010,P5090,P5100,P5130,P5140,Nper,...,Ingpcug,Li,Lp,Pobre,Indigente,Npobres,Nindigentes,Fex_c,Depto,Fex_dpto
0,8d0193e328305a042001a35f,1,MEDELLIN,4,2,1,NaN,400000.0,NaN,5,...,5.816661e+05,122809.534158,289878.24715,0,0,0,0,127.222038,5,146.251790
1,cf7491d7f2cc9c216bd009e7,1,MEDELLIN,5,4,3,NaN,NaN,250000.0,4,...,1.612500e+05,122809.534158,289878.24715,1,0,4,0,115.866093,5,93.080952
2,d90a57f64d2a84dbacbed2a5,1,MEDELLIN,4,2,1,NaN,700000.0,NaN,3,...,2.000000e+06,122809.534158,289878.24715,0,0,0,0,100.123276,5,89.637086
3,db34e387a94a783188ab3a33,1,MEDELLIN,3,1,1,NaN,450000.0,NaN,1,...,2.450000e+06,122809.534158,289878.24715,0,0,0,0,108.829812,5,95.584376
4,97bbef785824746ecab09c6f,1,MEDELLIN,4,3,3,NaN,NaN,500000.0,5,...,2.520000e+05,122809.534158,289878.24715,1,0,5,0,110.412859,5,124.560515

In [43]:
train_personas.head(5)

,id,Orden,Clase,Dominio,Estrato1,P6020,P6040,P6050,P6090,P6100,...,Iof2es,Iof3hes,Iof3ies,Iof6es,Ingtotob,Ingtotes,Ingtot,Fex_c,Depto,Fex_dpto
0,8d0193e328305a042001a35f,2,1,MEDELLIN,2,2,38,2,1.0,1.0,...,NaN,NaN,NaN,NaN,1.109190e+06,NaN,1.109190e+06,127.222038,5,146.25179
1,8d0193e328305a042001a35f,5,1,MEDELLIN,2,1,3,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.222038,5,146.25179
2,8d0193e328305a042001a35f,1,1,MEDELLIN,2,1,41,1,1.0,1.0,...,NaN,NaN,NaN,NaN,1.399140e+06,NaN,1.399140e+06,127.222038,5,146.25179
3,8d0193e328305a042001a35f,4,1,MEDELLIN,2,1,3,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.222038,5,146.25179
4,8d0193e328305a042001a35f,3,1,MEDELLIN,2,1,11,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.222038,5,146.25179

In [44]:
train_personas.shape

(543109, 135)

In [45]:
train_merged = pd.merge(train_personas, train_hogares, on='id', how= "inner", suffixes=('_ind', '_hogar'))

In [46]:
train_merged.shape

(543109, 157)

In [47]:
train_merged

,id,Orden,Clase_ind,Dominio_ind,Estrato1,P6020,P6040,P6050,P6090,P6100,...,Ingpcug,Li,Lp,Pobre,Indigente,Npobres,Nindigentes,Fex_c_hogar,Depto_hogar,Fex_dpto_hogar
0,8d0193e328305a042001a35f,2,1,MEDELLIN,2,2,38,2,1.0,1.0,...,5.816661e+05,122809.534158,289878.247150,0,0,0,0,127.222038,5,146.251790
1,8d0193e328305a042001a35f,5,1,MEDELLIN,2,1,3,3,NaN,NaN,...,5.816661e+05,122809.534158,289878.247150,0,0,0,0,127.222038,5,146.251790
2,8d0193e328305a042001a35f,1,1,MEDELLIN,2,1,41,1,1.0,1.0,...,5.816661e+05,122809.534158,289878.247150,0,0,0,0,127.222038,5,146.251790
3,8d0193e328305a042001a35f,4,1,MEDELLIN,2,1,3,3,NaN,NaN,...,5.816661e+05,122809.534158,289878.247150,0,0,0,0,127.222038,5,146.251790
4,8d0193e328305a042001a35f,3,1,MEDELLIN,2,1,11,3,NaN,NaN,...,5.816661e+05,122809.534158,289878.247150,0,0,0,0,127.222038,5,146.251790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
543104,5f037d9ddb23a0223d937b30,2,1,BOGOTA,2,2,24,2,1.0,1.0,...,4.799466e+05,123416.961118,280522.423188,0,0,0,0,386.721150,11,386.721150
543105,e575d8c70d587b3be3f45a6f,1,1,BOGOTA,3,2,36,1,1.0,1.0,...,1.706250e+06,123416.961118,280522.423188,0,0,0,0,341.056945,11,341.056945
543106,e575d8c70d587b3be3f45a6f,2,1,BOGOTA,3,1,41,2,1.0,1.0,...,1.706250e+06,123416.961118,280522.423188,0,0,0,0,341.056945,11,341.056945
543107,e575d8c70d587b3be3f45a6f,3,1,BOGOTA,3,1,8,3,NaN,NaN,...,1.706250e+06,123416.961118,280522.423188,0,0,0,0,341.056945,11,341.056945
543108,e575d8c70d587b3be3f45a6f,4,1,BOGOTA,3,2,0,3,NaN,NaN,...,1.706250e+06,123416.961118,280522.423188,0,0,0,0,341.056945,11,341.056945

**Creación y transformación de variables**

Cuestiones a tener en cuenta: 

Se cambió el formato de las variables "P6210", "P6100", "P6585s3", "P6585s1" de float a entero.
Hacerlo también para las bases de testeo

In [48]:
columnas = train_merged.columns.tolist()
print(columnas)

['id', 'Orden', 'Clase_ind', 'Dominio_ind', 'Estrato1', 'P6020', 'P6040', 'P6050', 'P6090', 'P6100', 'P6210', 'P6210s1', 'P6240', 'Oficio', 'P6426', 'P6430', 'P6500', 'P6510', 'P6510s1', 'P6510s2', 'P6545', 'P6545s1', 'P6545s2', 'P6580', 'P6580s1', 'P6580s2', 'P6585s1', 'P6585s1a1', 'P6585s1a2', 'P6585s2', 'P6585s2a1', 'P6585s2a2', 'P6585s3', 'P6585s3a1', 'P6585s3a2', 'P6585s4', 'P6585s4a1', 'P6585s4a2', 'P6590', 'P6590s1', 'P6600', 'P6600s1', 'P6610', 'P6610s1', 'P6620', 'P6620s1', 'P6630s1', 'P6630s1a1', 'P6630s2', 'P6630s2a1', 'P6630s3', 'P6630s3a1', 'P6630s4', 'P6630s4a1', 'P6630s6', 'P6630s6a1', 'P6750', 'P6760', 'P550', 'P6800', 'P6870', 'P6920', 'P7040', 'P7045', 'P7050', 'P7070', 'P7090', 'P7110', 'P7120', 'P7140s1', 'P7140s2', 'P7150', 'P7160', 'P7310', 'P7350', 'P7422', 'P7422s1', 'P7472', 'P7472s1', 'P7495', 'P7500s1', 'P7500s1a1', 'P7500s2', 'P7500s2a1', 'P7500s3', 'P7500s3a1', 'P7505', 'P7510s1', 'P7510s1a1', 'P7510s2', 'P7510s2a1', 'P7510s3', 'P7510s3a1', 'P7510s5', 'P7510s5a1', 'P7510s6', 'P7510s6a1', 'P7510s7', 'P7510s7a1', 'Pet', 'Oc', 'Des', 'Ina', 'Impa', 'Isa', 'Ie', 'Imdi', 'Iof1', 'Iof2', 'Iof3h', 'Iof3i', 'Iof6', 'Cclasnr2', 'Cclasnr3', 'Cclasnr4', 'Cclasnr5', 'Cclasnr6', 'Cclasnr7', 'Cclasnr8', 'Cclasnr11', 'Impaes', 'Isaes', 'Iees', 'Imdies', 'Iof1es', 'Iof2es', 'Iof3hes', 'Iof3ies', 'Iof6es', 'Ingtotob', 'Ingtotes', 'Ingtot', 'Fex_c_ind', 'Depto_ind', 'Fex_dpto_ind', 'Clase_hogar', 'Dominio_hogar', 'P5000', 'P5010', 'P5090', 'P5100', 'P5130', 'P5140', 'Nper', 'Npersug', 'Ingtotug', 'Ingtotugarr', 'Ingpcug', 'Li', 'Lp', 'Pobre', 'Indigente', 'Npobres', 'Nindigentes', 'Fex_c_hogar', 'Depto_hogar', 'Fex_dpto_hogar']

In [49]:
train_merged["hacin"] = train_merged["P5010"] / train_merged["Nper"]

In [50]:
print(train_merged["P6210"].unique())

[ 3.  2.  5.  4.  1.  6. nan  9.]

In [51]:
# Transformo los valores de P6210
train_merged["P6210"] = train_merged["P6210"].fillna(0).astype(int) 
print(train_merged["P6210"].unique())

[3 2 5 4 1 6 0 9]

In [52]:
# Obtengo el máximo nivel educativo por hogar
educacion_max_hogar = train_merged.groupby("id")["P6210"].max().reset_index()

# Renombro la columna
educacion_max_hogar.rename(columns={"P6210": "educ_max"}, inplace=True)

In [53]:
train_merged = train_merged.merge(educacion_max_hogar, on="id", how="left")

In [54]:
# Chequeo que se haya creado bien la variable de educación máxima por hogar
print(train_merged[["id", "P6210", "educ_max"]].head(10))

                         id  P6210  educ_max
0  8d0193e328305a042001a35f      3         5
1  8d0193e328305a042001a35f      2         5
2  8d0193e328305a042001a35f      5         5
3  8d0193e328305a042001a35f      2         5
4  8d0193e328305a042001a35f      4         5
5  cf7491d7f2cc9c216bd009e7      1         4
6  cf7491d7f2cc9c216bd009e7      1         4
7  cf7491d7f2cc9c216bd009e7      4         4
8  cf7491d7f2cc9c216bd009e7      3         4
9  d90a57f64d2a84dbacbed2a5      4         6

In [55]:
# Miro como está codificada P6100 (afiliacion a SS en salud)
print(train_merged["P6100"].unique())

[ 1. nan  3.  2.  9.]

In [56]:
# Transformo los valores de P6100
train_merged["P6100"] = train_merged["P6100"].fillna(0).astype(int) 
print(train_merged["P6100"].unique())

[1 0 3 2 9]

In [57]:
# Creo dummy con personas de régimen de salud subsidiado
train_merged["salud_subsi"] = (train_merged["P6100"] == 3).astype(int)

In [ ]:
# Miro como está codificada P6585s3 (recibió subsidio familiar)
print(train_merged["P6585s3"].unique())

[ 1. nan  2.  9.]

In [59]:
# Transformo los valores de P6585s3
train_merged["P6585s3"] = train_merged["P6585s3"].fillna(0).astype(int) 
print(train_merged["P6585s3"].unique())

[1 0 2 9]

In [60]:
# Asigno valor 1 a quienes reportan que sí y 0 en otro caso
train_merged["fam_subsi"] = (train_merged["P6585s3"] == 1).astype(int)

In [ ]:
# Miro como está codificada P6585s1 (recibió subsidio de alimentación)
print(train_merged["P6585s1"].unique())

[ 2. nan  1.  9.]

In [62]:
# Transformo los valores de P6585s1
train_merged["P6585s1"] = train_merged["P6585s1"].fillna(0).astype(int) 
print(train_merged["P6585s1"].unique())

[2 0 1 9]

In [63]:
# Asigno valor 1 a quienes reportan que sí y 0 en otro caso
train_merged["alim_subsi"] = (train_merged["P6585s1"] == 1).astype(int)

In [ ]:
# Selecciono las variables a utilizar para estimar pobreza con el primer approach
train_pobreza = train_merged[["id", "Orden", "Ingtotug", "hacin","Clase_hogar", "educ_max", "salud_subsi", "fam_subsi", "alim_subsi"]]

In [68]:
# Selecciono las variables a utilizar para estimar pobreza con el segundo approach

train_ingreso = train_merged[["Ingtot", "P6040", "P6020", "P6920", "P6800", "P6210", "P6426", "P6920"]]
# "P6040": edad, 
# "P6020": sexo, 
# "P6920": cotiza pension, 
# "P6800": horas de trabajo semanal normal, 
# "P6210": máximo nivel educativo, 
# "P6426": antigüedad, 
# "P6920": tipo de ocupación