In [1]:
# CReo el repositorio y lo clono en mi pc
#corro este script
# meto el zip con los datos en stores

In [16]:
import os
import pandas as pd
import zipfile

In [8]:
# Seteo la ruta del repositorio (reemplazarla por la propia)
ruta = r"C:\Users\Sofia\OneDrive\Escritorio\ML\PS2"

In [9]:
# Fijo rutas para cada carpeta del repositorio
document_path = os.path.join(ruta, "document")
scripts_path = os.path.join(ruta, "scripts")
stores_path = os.path.join(ruta, "stores")
views_path = os.path.join(ruta, "views")

In [10]:
# Creo las carpetas por única vez
os.makedirs(document_path, exist_ok=True)
os.makedirs(scripts_path, exist_ok=True)
os.makedirs(stores_path, exist_ok=True)
os.makedirs(views_path, exist_ok=True)

In [13]:
zip_path = os.path.join(stores_path, "mlunlp-2024-ps-2.zip")

In [21]:
train_hogares_path = "train_hogares.csv"
train_personas_path = "train_personas.csv"

In [22]:
with zipfile.ZipFile(zip_path, 'r') as z:
    with z.open(train_hogares_path) as f:
        train_hogares = pd.read_csv(f)

with zipfile.ZipFile(zip_path, 'r') as z:
    with z.open(train_personas_path) as f:
        train_personas = pd.read_csv(f)

In [23]:
train_hogares.head(5)

,id,Clase,Dominio,P5000,P5010,P5090,P5100,P5130,P5140,Nper,...,Ingpcug,Li,Lp,Pobre,Indigente,Npobres,Nindigentes,Fex_c,Depto,Fex_dpto
0,8d0193e328305a042001a35f,1,MEDELLIN,4,2,1,NaN,400000.0,NaN,5,...,5.816661e+05,122809.534158,289878.24715,0,0,0,0,127.222038,5,146.251790
1,cf7491d7f2cc9c216bd009e7,1,MEDELLIN,5,4,3,NaN,NaN,250000.0,4,...,1.612500e+05,122809.534158,289878.24715,1,0,4,0,115.866093,5,93.080952
2,d90a57f64d2a84dbacbed2a5,1,MEDELLIN,4,2,1,NaN,700000.0,NaN,3,...,2.000000e+06,122809.534158,289878.24715,0,0,0,0,100.123276,5,89.637086
3,db34e387a94a783188ab3a33,1,MEDELLIN,3,1,1,NaN,450000.0,NaN,1,...,2.450000e+06,122809.534158,289878.24715,0,0,0,0,108.829812,5,95.584376
4,97bbef785824746ecab09c6f,1,MEDELLIN,4,3,3,NaN,NaN,500000.0,5,...,2.520000e+05,122809.534158,289878.24715,1,0,5,0,110.412859,5,124.560515

In [24]:
train_personas.head(5)

,id,Orden,Clase,Dominio,Estrato1,P6020,P6040,P6050,P6090,P6100,...,Iof2es,Iof3hes,Iof3ies,Iof6es,Ingtotob,Ingtotes,Ingtot,Fex_c,Depto,Fex_dpto
0,8d0193e328305a042001a35f,2,1,MEDELLIN,2,2,38,2,1.0,1.0,...,NaN,NaN,NaN,NaN,1.109190e+06,NaN,1.109190e+06,127.222038,5,146.25179
1,8d0193e328305a042001a35f,5,1,MEDELLIN,2,1,3,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.222038,5,146.25179
2,8d0193e328305a042001a35f,1,1,MEDELLIN,2,1,41,1,1.0,1.0,...,NaN,NaN,NaN,NaN,1.399140e+06,NaN,1.399140e+06,127.222038,5,146.25179
3,8d0193e328305a042001a35f,4,1,MEDELLIN,2,1,3,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.222038,5,146.25179
4,8d0193e328305a042001a35f,3,1,MEDELLIN,2,1,11,3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127.222038,5,146.25179